@font-face {
	font-family: 'GraphikLCG';
	src: url('../fonts/GraphikLCG-Regular.eot');
	src: local('☺'), url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf') format('truetype'), url('../fonts/GraphikLCG-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GraphikLCG';
	src: url('../fonts/GraphikLCG-Semibold.eot');
	src: local('☺'), url('../fonts/GraphikLCG-Semibold.woff') format('woff'), url('../fonts/GraphikLCG-Semibold.ttf') format('truetype'), url('../fonts/GraphikLCG-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

*{
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'GraphikLCG';
    background: #FFFFFF;
    color: #5E646A;
}

.header {
    background-image: url('../img/Bg-header.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 200vw rgba(42, 108, 234, 0.8);
    background-position: center center;
}

.header__wrap {
    width: 100%;
    max-width: 1213px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jc_start {
    display: flex;
    justify-content: start;
    align-items: center;
}  

.jc_start h5 {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 20px;

    margin-left: -2px;
}

.blue_circle {
    width: 24px;
    height: 24px;
    background: #2A6CEA;
    border-radius: 50%;

    z-index: 10;
}

.white_circle {
    width: 24px;
    height: 24px;
    background: #ECEFF2;
    border-radius: 50%;

    position: relative;
    left: -13px;
    z-index: 5;
}

.menu_body a {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 24px;
  }

.menu_body a:hover {
    border-bottom: 1px solid #ffffff;
}  

.header_content {
    max-width: 748px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.header_content h1 {
    font-size: 52px;
    line-height: 64px;
    margin-top: 233px;
    margin-bottom: 0;
}

.header_content p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
}

.button {
    display: inline-block;

    font-size: 20px;
    font-weight: 600;
    color: #191C1F;
    background-color: #ECEFF2;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  
    border: none;
    border-radius: 4px;
  
    margin-top: 92px;
    margin-bottom: 313px;
    padding: 20px 40px;
}

@media (max-width: 768px) {
    .header__wrap {
        max-width: 736px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .header {
        background-image:  url(../img/bg-768.jpg);
    }

    .header_content {
        max-width: 476px;
    }

    .header_content h1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 317px;
    }

    .header_content p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .button {
        margin-top: 40px;
        margin-bottom: 398px;
    }

    .header__wrap.__active {
        position: fixed;
        left: 0;
        right: 0;
    }

    .menu_icon {
        z-index: 1;
        display: block;
        position: relative;
        width: 27px;
        height: 15px;
        cursor: pointer;
    }

    .menu_icon span,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 20%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #ffffff;
    }

    .menu_icon::after {
        content: '';
    }

    .menu_icon::after {
        bottom: 0;
    }

    .menu_body {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #ffffff;
        width:100%;
        height: 100%;
        padding: 80px 0px 0px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .jc_start.__active h5 {
        color: #191C1F;
        z-index: 5;
    }

    .menu_body.__active {
        left: 0;
    }
    
    .menu_icon.__active span {
        transform: rotate(-45deg);
        top: 6px;
    }

    .menu_icon.__active::after {
        transform: rotate(45deg);
        bottom: 6px;
    }

    .menu_icon.__active span,
    .menu_icon.__active::after  {
        background-color: #191C1F;
    }
    
    .menu_body a {
        font-size: 18px;
        margin-left: 0;
        color: #83898F;
        border-bottom: 1px solid #ECEFF2;
        margin-left: 16px;
        margin-right: 27px;
        padding: 16px 0;
    }

    .menu_body a:first-child {
        border-top: 1px solid #ECEFF2;
    }
}

@media (max-width: 376px) {
    .header__wrap {
        max-width: 342px;
    }

    .header_content {
        max-width: 288px;
    }

    .header_content h1 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 92px;
    }

    .header_content p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 10px;
    }

    .button {
        margin-top: 26px;
        margin-bottom: 172px;
    }
}

/*Основной контент*/

.wrapper {
    width: 100%;
    max-width: 1213px;
    margin: 0 auto;
    overflow: hidden; 
  }  

.content h2 {
    font-size: 40px;
    text-align: center;
    color: #000000;

    margin-top: 80px;
    margin-bottom: 0;
 } 

.content_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 65px;
 }

.content_items {
    width: 280px;
 }

.content_items h6 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    margin-top: 20px;
    margin-bottom: 0;
 }

.content_items p {
    font-size: 14px;
    line-height: 24px;

    margin-top: 4px;
    margin-bottom: 0;
 }

 .flex_content {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
 }

.flex_content h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.flex_content p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 18px;
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 736px;
    }

    .content h2 {
        font-size: 40px;
        margin-top: 56px;
    }

    .content_container {
        margin-top: 42px
    }

    .content_items img {
       width: 17%;
    }

    .content_items {
        display: flex;
        align-items: flex-start;
        width: 341px;
    }

    .content_items:nth-child(3),
    .content_items:nth-child(4) {
        margin-top: 32px;
    }


    .content_items h6 {
        margin-top: 0;
        margin-left: 16px;
    }

    .content_items p {
        margin-left: 16px;
    }

    .width_text {
        max-width: 352px;
    }

    .flex_content img {
        width: 100%;
        margin-left: 24px;
    }

    .flex_content {
        margin-top: 56px;
        margin-bottom: 56px;
    }

    .flex_content h3 {
        font-size: 20px;
        line-height: 24px
    }

    .flex_content p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 15px;
    }
}

@media (max-width: 376px) {
    .wrapper {
        max-width: 342px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content_container {
        margin-top: 26px;
    }

    .content_items:nth-child(2) {
        margin-top: 32px;
    }

    .flex_content {
        flex-direction: column-reverse;
    }

    .flex_content img {
        margin-left: 0;
    }

    .width_text {
        max-width: 342px;
        text-align: center;
    }

    .width_text p {
        margin-top: 0px;
        margin-bottom: 0;
    }
}

/* Отзывы */

.slick-track {
    display: flex;
    margin: 25px 0;
}

.slick-list {
    overflow: hidden;
}

.slider .slick-arrow {
    position: absolute;
    top: 38%;
    
    font-size: 0;
    width: 16px;
    height: 32px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/arr-left.png) 0 0 / 100% no-repeat;
    border: none;
}

.slider .slick-arrow.slick-prev:hover {
    background: url(../img/arr-right.png);
    transform: rotate(-180deg);
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../img/arr-left.png) 0 0 / 100% no-repeat;
    transform: rotate(180deg);
    border: none;
}

.slider .slick-arrow.slick-next:hover {
    background: url(../img/arr-right.png);
    transform: rotate(360deg);
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 45px -40px;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 8px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    padding: 1px;
    background-color: #C2C8CD;
    border-radius: 50%;
    border: none;
}

.slider .slick-dots li.slick-active button {
    background-color: #2A6CEA;
}

.slider .slick-dots li.slick-active button:hover {
    background-color: #397DFF
}

.bg_grey {
    background: #F6F8FA;
}

.reviews__wrapper {
    width: 100%;
    max-width: 1213px;
    margin: 0 auto;
    overflow: hidden; 
}

.wr_text {
    font-size: 40px;
    color: #000000;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 57px;
    padding-bottom: 7px;
}

.slider {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 40px;
}

.slider__items {
    width: 341px;
    height: 100%;
    min-height: 316px;
    background: #ffffff;
    margin: 0 16px;

    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.slider__items:hover {
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.1);
}

.flex_items {
    display: flex;
}

.flex_items img {
    padding-left: 22px;
    padding-top: 22px;
}

.left_arr {
    background-image: url(../img/arr-left.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 32px;

    display: block;
}

.left_arr:hover {
    background-image: url(../img/arr-right.png);
    transform: rotate(180deg);
}

.right_arr {
    background-image: url(../img/arr-left.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 32px;

    transform: rotate(180deg);
    display: block;
}

.right_arr:hover {
    background-image: url(../img/arr-right.png);
    transform: rotate(360deg);
}

.flex_items div:nth-child(2) {
    margin-left: 16px;
    margin-top: 22px;
}

.flex_items h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;

    margin-top: 0;
    margin-bottom: 0;
}

.flex_items p {
    font-size: 12px;
    margin-top: 4px;

    margin-bottom: 0;
}

.slider__items > p {
    font-size: 14px;
    line-height: 24px;
    color: #000000;

    padding: 0 22px 0 22px;
    margin-top: 20px;
}

.flex_dot {
    display: flex;
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 45px;
    padding-left: 0;
}

.flex_dot li {
    margin-left: 25px;
    font-size: 28px;
    color: #C2C8CD;
    cursor: pointer;
}

.flex_dot li:nth-child(1) {
    color: #2A6CEA;
}

.flex_dot li:hover {
    color: #2A6CEA;
}

.bg_white {
    height: 80px;
    background: #ffffff;
}

@media (max-width:768px) {
    .reviews__wrapper {
        max-width: 736px;
    }

    .slider {
        padding: 0px 0px;
    }

    .wr_text {
        padding-top: 33px;
    }

    .slider .slick-arrow {
        visibility: hidden;
        display: none;
    }

    .bg_white {
        height: 40px;
    }
}

@media (max-width: 376px) {
    .wr_text {
        font-size: 24px;
    }

    .slick-list {
        margin-bottom: -15px;
    }

    .slider__items {
        min-height: 200px
    }

    .slider__items > p {
        margin-bottom: 27px;
    }

    .slider .slick-dots {
        margin: 0 0 45px -40px;
    }
}

footer {
    background: #ffffff;
    font-size: 18px;
    color: black;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #ECEFF2;

    padding-top: 28px;
    padding-bottom: 28px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}
